main {
    margin-left: 296px;
}

.list-group {
    width: 34.78%;
}

.tab-content {
    width: 63.47%;
}


h2 {
    padding-right: 50px;
}

.assignmentContent {

    img {
        display: block;
        width: 40px;
        height: 40px;
        border-radius: 50%;
        object-fit: cover
    }

}