.material-symbols-outlined {
    font-variation-settings:
        'FILL' 1,
        'wght' 400,
        'GRAD' 0,
        'opsz' 48
}


.material-symbols-outlined-google-icon {
    font-variation-settings:
        'FILL' 0,
        'wght' 400,
        'GRAD' 0,
        'opsz' 48
}




.fs-12 {
    font-size: 12px;
}

.fs-14 {
    font-size: 14px;
}

.text-color-gray {
    color: $gray-600;
}